<form [formGroup]="form">
    <div class="flex flex-col gap-4 items-center">
        <span class="font-bold text-base">Ingresa una clave de 4 dígitos</span>
        <div class="text-center">
            La necesitas para autorizar el recojo en tienda. Evita usar patrones simples o números consecutivos.
            <span class="font-bold">Compártela con quien retirará el envío.</span>
        </div>
        <div class="">
            <p-inputOtp formControlName="pin" />
        </div>
        <div class="w-full">
            <p-button label="Siguiente" styleClass="w-full" severity="primary" (click)="next()"></p-button>
        </div>
    </div>
</form>
