@if (stepNumber !== 3) {
  <div class="flex flex-col h-full">
    <div class="hidden lg:block text-center text-lg text-color-ultramarine font-bold">Resumen de envío</div>
    <div class="hidden lg:block">
      <p-divider />
    </div>

    <div class="flex flex-col flex-1 gap-4">
      <div class="flex flex-col gap-4">
        <app-shipping-summary-step-origin
          [whoSend]="whoSend"
          [origin]="origin"
        >
        </app-shipping-summary-step-origin>

        <app-shipping-summary-step-destinations>
        </app-shipping-summary-step-destinations>

      </div>

      <div class="flex flex-col border border-color-gray-sutile bg-surface-100 rounded-xl p-4 gap-2 mt-auto">
        <div class="flex justify-between">
          <div class="text-color-main">Cantidad de paquetes</div>
          <div class="text-color-main">0</div>
        </div>
        <div class="flex justify-between">
          <div class="text-color-main">Subtotal</div>
          <div class="text-color-secondary font-bold">S/. 00.00</div>
        </div>
      </div>
    </div>
  </div>
}
@if (stepNumber === 3) {
  <div class="flex flex-col h-full gap-6">

    <!-- Card Total -->
    <div class="border border-secondary-sutile bg-surface-50 rounded-2xl p-6 shadow-sm">

      <div class="text-lg font-bold text-color-ultramarine mb-4">
        Total
      </div>

      <div class="flex flex-col gap-3 text-sm">
        <div class="flex justify-between">
          <span class="text-color-main">Tipo de pago</span>
          <span class="text-color-ultramarine font-medium">Pago en línea</span>
        </div>

        <div class="flex justify-between">
          <span class="text-color-main">Cantidad de envíos</span>
          <span class="text-color-ultramarine font-medium">10</span>
        </div>

        <div class="flex justify-between">
          <span class="text-color-main">IGV (18%)</span>
          <span class="text-color-ultramarine font-medium">S/ 7.25</span>
        </div>

        <div class="flex justify-between pt-2 border-t border-color-gray-sutile">
          <span class="text-color-main font-semibold">Total pago</span>
          <span class="text-color-ultramarine font-bold text-lg">
            S/ 78.33
          </span>
        </div>
      </div>

      <!-- Cupón -->
      <button
        type="button"
        class="mt-4 mb-4 w-full flex items-center justify-center gap-2 border border-color-gray-sutile rounded-xl py-3 text-color-main hover:bg-surface-100 transition cursor-pointer"
      >
        <i class="pi pi-tag text-color-secondary"></i>
        <span>Añadir cupón de descuento</span>
      </button>

      <p-button label="Siguiente" severity="primary" styleClass="w-full" (click)="openPinModal()"/>
      <p-button (onClick)="openPaymentMethodModal()" label="Abrir modal metodo de pago" severity="primary" styleClass="w-full my-3" />
      <p-button (onClick)="openRegistrationSuccessModal()" label="Abrir modal registración exitosa" severity="primary" styleClass="w-full" />
    </div>
  </div>
}
