:host ::ng-deep .custom-otp {
    width: 35px !important;
    height: 50px !important;
    text-align: center;
}

:host ::ng-deep .markup-dialog .p-dialog-content {
    background-color: red;
}

:host ::ng-deep .markup-dialog .p-dialog-header {
    background-color: red;
}
