<div class="flex flex-col gap-3">

  <div class="flex flex-col gap-4  md:overflow-y-auto h-full md:h-153" #accordionScrollContainer>
    <p-accordion [value]="currentAccordionIndex" (onOpen)="onAccordionChange($event)">
      <p-accordion-panel [value]="0">
        <p-accordion-header>¿Quien recibe?</p-accordion-header>
        <p-accordion-content>
          <app-person-form
            [documentTypes]="AppConstant.DOCUMENT_TYPES_WITHOUT_INVOICE_TYPES"
            [enableEmailField]="false"
            [personConfig]="ShipmentRecordStepsConstant.STEP2_CONFIG.person"
            [enablePersonValidation]="false"
            [enableSetPersonData]="true"
            [enableBlur]="false"
            documentTypeLabel="Tipo de documento"
            (submitWhoSenderForm)="submitWhoSenderForm($event)"></app-person-form>
        </p-accordion-content>
      </p-accordion-panel>

      <p-accordion-panel [value]="1" [disabled]="panelsDisabled[1]">
        <p-accordion-header>¿Qué deseas enviar?</p-accordion-header>
        <p-accordion-content [ngClass]="'accordioncontent-without-padding'">
          <app-shipment-record-what-send
            [articleCategories]="articleCategories"
            (submitForm)="submitWhatSenderForm($event)"
          ></app-shipment-record-what-send>

        </p-accordion-content>
      </p-accordion-panel>
      <p-accordion-panel [value]="2" [disabled]="panelsDisabled[2]">
        <p-accordion-header>¿A dónde quieres enviar? (Destino)</p-accordion-header>
        <p-accordion-content [ngClass]="'accordioncontent-without-padding'">
          <app-shipment-record-destination
            (submitDestination)="submitDestinationForm()"
            (returnChargeChanged)="onReturnChargeChanged($event)"
          >
          </app-shipment-record-destination>
        </p-accordion-content>
      </p-accordion-panel>
<!--      <p-accordion-panel [value]="3" [disabled]="panelsDisabled[2]">-->
<!--        <p-accordion-header>¿Quién paga?</p-accordion-header>-->
<!--        <p-accordion-content>-->
<!--          <app-shipment-record-who-pay-form></app-shipment-record-who-pay-form>-->
<!--        </p-accordion-content>-->
<!--      </p-accordion-panel>-->
    </p-accordion>
  </div>

</div>
