<div class="p-4 flex flex-col gap-3 border bg-surface-50 border-secondary-sutile rounded-xl w-full max-h-[calc(100vh-220px)]">
  <div class="flex flex-col gap-3 flex-1 overflow-y-auto">
    @for (item of shipments; track item.id; let i = $index) {
      <app-shipment-list [index]="i + 1"
                                 [city]="item.city"
                                 [customer]="item.customer"
                                 [description]="item.description"
                                 [address]="item.address"
                                 [total]="item.total" />
    }
  </div>
  <div class="w-full">
    <p-button class="w-full" styleClass="w-full" outlined severity="secondary" (click)="openModal()">
      <i class="pi pi-plus"></i>
      Agrega envío nacional
    </p-button>
  </div>
</div>
