<div class="flex flex-col gap-6 p-8">
  <div class="flex flex-col gap-2 items-center">
    <img src="shared/images/alert-02.svg" class="w-12" />
    <span class="font-bold text-2xl text-theme-secondary">No pudimos procesar tu pago</span>
    <div class="flex bg-theme-surface-50 px-6 py-3 border border-secondary-sutile rounded-4xl min-w-4/5 justify-center" >
      {{ cart?.payment?.niubiz?.reason }}
    </div>
  </div>
  <span class="font-montserrat text-sm font-normal  text-center ">
    Por seguridad, tu banco no aprobó el pago. Te recomendamos contactarlo para revisar el motivo.

  </span>


  <p-button
    label="Intentar nuevamente"
    icon="pi pi-refresh"
    severity="primary"
    styleClass="w-full"
    (click)="retry()"
  ></p-button>
</div>
