@if (whoPayForm) {
  <form [formGroup]="whoPayForm">
    <div class="flex flex-col gap-5">
      <div class="flex flex-row gap-3">

        <div
          class="flex items-center gap-8 py-2 px-7 bg-primary-sutile border border-highlight-focus-background rounded-xl w-6/12">
          <p-radiobutton name="paymentType" value="online" inputId="paymentType1"
                         formControlName="paymentType"
          />
          <label for="paymentType1" class="w-full">
            <div class="flex gap-4 justify-between items-center">

              <div class="flex flex-col font-inter">
                <span class="text-sm ">Pago en linea</span>
                <span class="text-sm font-normal">Tú eliges cómo pagar el envío, con total flexibilidad.</span>
              </div>

              <img src="shared/images/credit-card.svg" alt="Online" class="w-6 h-6 ml-2" />
            </div>
          </label>

        </div>

        <div class="flex items-center gap-8 py-2 px-7 bg-gray-50 border border-theme-light-gray rounded-xl w-6/12">
          <p-radiobutton name="paymentType" value="destination" inputId="paymentType2"
                         formControlName="paymentType"
                         [disabled]="true"
          />
          <label for="paymentType2" class="w-full">
            <div class="flex gap-4 justify-between items-center">

              <div class="flex flex-col font-inter text-theme-surface-400">
                <span class="text-sm ">Pago en destino al momento de la entrega</span>
                <span
                  class="text-sm font-normal">El pago del envío se realiza cuando el paquete llega al destino.</span>
              </div>

              <img src="shared/images/safe-delivery-01.svg" alt="Cheese" class="w-6 h-6 ml-2" />
            </div>
          </label>

        </div>


      </div>

      <p-message severity="secondary" icon="pi pi-info-circle" styleClass="mb-2">
        El destino solicitado sólo puede ser pagado en línea.
      </p-message>

      <div class="grid w-full">
        <p-button label="Siguiente" severity="primary" styleClass="w-full"
                  (click)="handleSubmit()"
                  (keydown.enter)="handleSubmit()"

                  [disabled]="whoPayForm.invalid"
        />
      </div>
    </div>
  </form>


}
