@if (storeDestinationForm) {

  <div class="flex flex-col gap-4">
    <div class="relative">
      <form [formGroup]="storeDestinationForm">
        <div class="md:absolute top-4 left-4 z-1000 w-full md:w-108 max-w-full">

          <ng-container
            *ngTemplateOutlet="addressSearchTpl; context: {form: storeDestinationForm }"
          ></ng-container>

        </div>
      </form>

      @if (!isMobile()) {
        <app-shipment-record-destination-map
          [currentSearchAddress]="currentSearchAddress"
          [showMarker]="showMarker"
          (mapClick)="mapClick($event)"
        ></app-shipment-record-destination-map>
      }
      @if (isMobile()) {
        @if (modalVisible) {

          <div class="modal-under-resume" role="dialog" aria-modal="true">
            <button class="modal-close absolute top-4 right-4 z-1000 bg-transparent hover:bg-gray-100  "
                    (click)="modalVisible=false"
                    aria-label="Cerrar">
              <img src="shared/images/close-modal.svg" alt="Close Icon" class="w-3 h-3" />
            </button>

            <div class="modal-content">

              <app-shipment-record-destination-map
                [currentSearchAddress]="currentSearchAddress"
                [showMarker]="showMarker"
                (mapClick)="mapClick($event)"
              ></app-shipment-record-destination-map>

              <div class="absolute bottom-30 p-4 z-1100 w-full max-w-full">
                <ng-container
                  *ngTemplateOutlet="addressSearchTpl; context: {form: storeDestinationForm }"
                ></ng-container>
              </div>
            </div>
          </div>

        }
      }

    </div>

    <ng-content select="[returnChargeToggle]"></ng-content>
  </div>

}

<ng-template #addressSearchTpl let-form="form">
  <div class="flex flex-col gap-3" [formGroup]="form">
    <div class="flex flex-col gap-1">

      <p-autocomplete
        (completeMethod)="searchUbigeo($event)"
        [autoHighlight]="true"
        [delay]="1000"
        [minQueryLength]="3"
        [scrollHeight]="'304px'"
        [suggestions]="homeDestinationsFiltered"
        [virtualScrollItemSize]="38"
        [virtualScroll]="true"
        class="w-full"
        fluid
        formControlName="ubigeo"
        id="ubigeo"
        optionLabel="ubigeo_concatenated"
        optionValue="ubigeo_id"
        placeholder="Destino"
        (onSelect)="selectUbigeo($event)"
        (onFocus)="showModal()"
      />
    </div>

    <div class="flex flex-col gap-1">
      <p-autocomplete
        id="street"
        placeholder="Escribe la dirección"
        class="w-full"
        formControlName="street"
        [suggestions]="autoCompletePredictions"
        optionLabel="description"
        optionValue="place_id"
        (completeMethod)="search($event)"
        (onSelect)="selectAddress($event)"
        fluid
        [delay]="2000"
        [minQueryLength]="3"
      />
    </div>

    <div class="flex flex-col gap-1">

      <input
        pInputText
        id="references"
        placeholder="Ingresa referencias (calle, altura, oficina, dpto)"
        class="w-full"
        formControlName="references"
      />
    </div>

    @if (currentAutocompletePrediction) {

      <div class="flex flex-col gap-2">
        <div
          class="border rounded-md p-3 flex flex-row gap-2 items-center shadow-lg bg-primary-sutile border-highlight-focus-background">
          <img src="shared/images/marker.svg" alt="GPS Icon" class="w-6 " />
          <div class="flex flex-col flex-1">
            <span class="text-sm text-button-text-plain">{{ currentAutocompletePrediction.description }}</span>
          </div>
          <div>
            <app-trash-button
              (click)="removeAddress($event)"
              (keydown.enter)="removeAddress($event)"
            ></app-trash-button>
          </div>

        </div>
      </div>
    }

    @if (isMobile() && modalVisible) {
      <div class="w-full">
        <p-button severity="primary" label="Confirmar dirección" styleClass="w-full"
                  (click)="modalVisible=false"></p-button>
      </div>
    }
  </div>
</ng-template>
