<div class="flex flex-col gap-4">

  <p-tabs [value]="currentTab" class="tab-border-square">
    <p-tablist>
      @if (!(cartData.header.whoPay === 'DESTINATION')) {
        <p-tab [value]="0"
               (click)="changeTab(0)"
               (keydown.enter)="changeTab(0)"
        >
          <div class="flex items-center justify-center gap-1.75">
            <img class="w-3.5" src="shared/images/box-icon.svg" alt="" />
            <span class="font-bold font-inter">Entrega en domicilio</span>
          </div>
        </p-tab>
      }
      <p-tab [value]="1"
             (click)="changeTab(1)"
             (keydown.enter)="changeTab(1)"
      >
        <div class="flex items-center justify-center gap-1.75">
          <span class="pi pi-shop"></span>
          <span class="font-bold font-inter">Entrega en tienda</span>
        </div>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      @if (!(cartData.header.whoPay === 'DESTINATION')) {
        <p-tabpanel [value]="0">
          @if (currentTab === 0) {

            <app-shipment-record-destination-address-form
              [homeDestinations]="homeDestinationsData"
              [currentItem]="currentItem"
              (formChanged)="onHomeDestinationChanged($event)"
            >
              @if (destinationData?.cargo_flag === '1') {
                <div returnChargeToggle class="flex flex-col gap-1">
                  <app-shipment-record-return-charge-toggle
                    [mode]="DELIVERY_TYPE.HOME"
                    [storeDestinationsData]="returnChargeHomeDestinationsData"
                    [homeDestinationsData]="returnChargeHomeDestinationsData"
                    (returnChargeChanged)="onReturnChargeChanged($event)"
                    [currentItem]="currentItem"
                  ></app-shipment-record-return-charge-toggle>
                </div>
              }
            </app-shipment-record-destination-address-form>
          }
        </p-tabpanel>

      }
      <p-tabpanel [value]="1">
        @if (currentTab === 1) {
          <app-shipment-record-destination-storage-form
            [storeDestinationsData]="storeDestinationsData"
            [cartData]="cartData"
            [currentItem]="currentItem"
            (formChanged)="onStoreDestinationChanged($event)"
          >
            @if (!(cartData.header.whoPay === 'DESTINATION')) {
              <div returnChargeToggle class="flex flex-col gap-1">
                @if (destinationData?.cargo_flag?.trim() === '1') {
                  <app-shipment-record-return-charge-toggle
                    [mode]="DELIVERY_TYPE.OFFICE"
                    [storeDestinationsData]="returnChargeStoreDestinationsData"
                    [homeDestinationsData]="returnChargeHomeDestinationsData"
                    (returnChargeChanged)="onReturnChargeChanged($event)"
                    [currentItem]="currentItem"
                  ></app-shipment-record-return-charge-toggle>
                }
              </div>
            }
          </app-shipment-record-destination-storage-form>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

  <div class="grid w-full">
    <p-button
      label="Siguiente"
      severity="primary"
      styleClass="w-full"
      (click)="handleSubmitDestination()"
      (keydown.enter)="handleSubmitDestination()"
      [disabled]="!isReadyNext"
    />
  </div>
</div>
