<div class="flex flex-col gap-3">
  <div
    class="flex flex-col gap-3 bg-white border rounded-lg p-4"
    [class.border-highlight-focus-background]="returnChargeControl.value"
  >
    <div class="flex flex-col md:flex-row  gap-3 min-w-0">

      @if (!isMobile()) {
        <div class="flex flex-wrap items-center gap-3 min-w-0">
          <p-toggleSwitch [formControl]="returnChargeControl"></p-toggleSwitch>
          <img src="shared/images/return-icon1.svg" alt="Ícono de devolución" class="w-6" />
          <div class="flex flex-col flex-1 min-w-0">
        <span class="font-semibold">
          {{ 'shipmentRecord.returnCharge.switchLabel' | translate }}
        </span>
            <span class="text-sm text-gray-600">
          {{ 'shipmentRecord.returnCharge.switchDescription' | translate }}
        </span>
          </div>
        </div>
      }

      @if (isMobile()) {

        <div class="flex gap-4 justify-between">
          <div class="flex gap-4">
            <img src="shared/images/return-icon1.svg" alt="Ícono de devolución" class="w-6" />
            <div class="flex flex-col gap-1">
              <span class="font-semibold">Retorno de cargo</span>
              <span  >Envío de cargo al remitente</span>
            </div>

          </div>
          <p-toggleSwitch [formControl]="returnChargeControl"></p-toggleSwitch>
        </div>
      }

      @if (returnChargeControl.value) {
        <div class="flex items-center gap-2 shrink-0 w-full sm:w-auto sm:ml-auto justify-end ">
          <span class="text-sm font-semibold whitespace-nowrap">
            {{ 'shipmentRecord.returnCharge.foliosShortLabel' | translate }}
          </span>
          <p-inputnumber
            [inputId]="'return-charge-folios-' + itemIndex"
            [formControl]="foliosControl"
            [min]="1"
            [max]="3"
            [useGrouping]="false"
            [showButtons]="true"
            [minFractionDigits]="0"
            [maxFractionDigits]="0"
            styleClass="return-charge-folios w-full sm:w-32"
            [buttonLayout]="isMobile()?'horizontal':'stacked'"
          >
            @if (isMobile()) {
              <ng-template #decrementbuttonicon>
                <span class="pi pi-chevron-left text-white bg-theme-ultramarine"></span>
              </ng-template>
              <ng-template #incrementbuttonicon>
                <span class="pi  pi-chevron-right text-white"></span>
              </ng-template>
            }
          </p-inputnumber>
        </div>
      }
    </div>
  </div>

  @if (returnChargeControl.value) {
    <button
      type="button"
      class="flex items-center justify-between gap-3 border rounded-lg p-3 bg-white border-highlight-focus-background"
      (click)="openReturnChargeModal()"
    >
      <div class="flex items-center gap-2 min-w-0">
        <span class="pi pi-map-marker text-lg text-color-secondary"></span>
        <div class="flex flex-wrap items-center gap-1 min-w-0 text-sm">
          @if (!hasReturnDestination) {
            <span class="font-semibold">
              {{ 'shipmentRecord.returnCharge.selectAddressLabel' | translate }}
            </span>
          } @else {
            <span class="font-semibold">
              @if (returnChargeDetail?.destinationType === 'home') {
                {{ 'shipmentRecord.returnCharge.homePrefix' | translate }}
              } @else {
                {{ 'shipmentRecord.returnCharge.storePrefix' | translate }}
              }
            </span>
            <span class="text-theme-text-800">
              {{ returnChargeAddress }}
            </span>
            @if (returnChargeReferences) {
              <span class="text-theme-text-800">
                - {{ 'shipmentRecord.returnCharge.referencesLabel' | translate }} {{ returnChargeReferences }}
              </span>
            }
          }
        </div>
      </div>
      <span class="pi pi-pencil border border-gray-200 rounded-md p-2 text-theme-text-800"></span>
    </button>
  }
</div>
