.return-charge-folios {
  width: 100px;
  min-width: 120px;
}

:host ::ng-deep .return-charge-folios {
  max-width: 100%;
}

:host ::ng-deep .return-charge-folios .p-inputnumber,
:host ::ng-deep .return-charge-folios .p-inputnumber-input {
  width: 100%;
  text-align: center;
}
