.p-step-title {
  color: var(--theme-gray-color) !important;
}

.p-step-active {
  .p-step-number {
    background-color: var(--theme-color-secondary) !important;
    color: var(--theme-orange-color) !important;
    border: 2px solid var(--theme-color-secondary) !important;

  }

  .p-step-title {
    color: var(--theme-color-secondary) !important;
  }
}

.p-step-number {
  font-weight: 700 !important;
  height: 40px !important;
  width: 40px !important;
  font-family: Inter, serif !important;
}
.olva-reset-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
border: 1px solid #395aa3!important;
    border-radius: 25px;
    color: #395aa3!important;
  border-radius: 9999px; /* ← reemplaza [rounded]="true" */

  padding: 1rem 2rem;
  background: transparent;
  font-size: 1.125rem;
  font-weight: 500;
}
.olva-reset-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.olva-reset-icon {
  width: 28px;
  height: 28px;
}
